Repository JanusGraph/janusgraph, pull requests merged in 2025-01, with the labels that each got.

#4750 added reference to JanusGraph-Python package
  docs/basics/connecting/python.md
Labels: area/docs

#4166 Solr textContainsPhrase & Solr Client Tokenizer Alignment
  janusgraph-backend-testutils/src/main/java/org/janusgraph/diskstorage/indexing/IndexProviderTest.java
  janusgraph-solr/src/main/java/org/janusgraph/diskstorage/solr/SolrIndex.java
  janusgraph-solr/src/test/java/org/janusgraph/diskstorage/solr/SolrIndexTest.java
  janusgraph-solr/src/test/java/org/janusgraph/diskstorage/solr/StandardTokenizerTest.java
Labels: cla: external

#4726 Reindex subset of vertices
  docs/configs/janusgraph-cfg.md
  janusgraph-backend-testutils/src/main/java/org/janusgraph/graphdb/JanusGraphBaseTest.java
  janusgraph-backend-testutils/src/main/java/org/janusgraph/graphdb/JanusGraphIndexTest.java
  janusgraph-core/src/main/java/org/janusgraph/core/schema/JanusGraphManagement.java
  janusgraph-core/src/main/java/org/janusgraph/diskstorage/common/DistributedStoreManager.java
  janusgraph-core/src/main/java/org/janusgraph/diskstorage/keycolumnvalue/KeyColumnValueStore.java
  janusgraph-core/src/main/java/org/janusgraph/diskstorage/keycolumnvalue/scan/MultiThreadsRowsCollector.java
  janusgraph-core/src/main/java/org/janusgraph/diskstorage/keycolumnvalue/scan/ScanJob.java
  janusgraph-core/src/main/java/org/janusgraph/diskstorage/keycolumnvalue/scan/StandardScannerExecutor.java
  janusgraph-core/src/main/java/org/janusgraph/diskstorage/util/MetricInstrumentedStore.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/configuration/GraphDatabaseConfiguration.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/database/management/ManagementSystem.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/olap/AbstractScanJob.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/olap/VertexJobConverter.java
  janusgraph-cql/src/main/java/org/janusgraph/diskstorage/cql/CQLKeyColumnValueStore.java
  janusgraph-cql/src/main/java/org/janusgraph/diskstorage/cql/CQLMapKeyIterator.java
  janusgraph-cql/src/main/java/org/janusgraph/diskstorage/cql/CQLSubsetIterator.java
  janusgraph-cql/src/test/java/org/janusgraph/diskstorage/cql/CQLSubsetIteratorTest.java
  janusgraph-es/src/test/java/org/janusgraph/diskstorage/es/BerkeleyElasticsearchTest.java
  janusgraph-hadoop/src/main/java/org/janusgraph/hadoop/scan/HadoopVertexScanMapper.java
  janusgraph-lucene/src/test/java/org/janusgraph/diskstorage/lucene/BerkeleyLuceneTest.java
  janusgraph-solr/src/test/java/org/janusgraph/diskstorage/solr/BerkeleySolrTest.java
Labels: storage/cassandra, kind/performance, area/index

#4754 Schema Management APIs for Enhanced Debugging in JanusGraph
  janusgraph-backend-testutils/src/main/java/org/janusgraph/graphdb/JanusGraphCustomIdTest.java
  janusgraph-backend-testutils/src/main/java/org/janusgraph/graphdb/JanusGraphIndexTest.java
  janusgraph-core/src/main/java/org/janusgraph/core/schema/JanusGraphManagement.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/database/IndexSerializer.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/database/management/ManagementSystem.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/database/util/IndexRecordUtil.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/transaction/StandardJanusGraphTx.java
Labels: kind/enhancement, area/schema

#4755 Returning Composite index structure and field values for hex string
  janusgraph-backend-testutils/src/main/java/org/janusgraph/graphdb/JanusGraphIndexTest.java
  janusgraph-core/src/main/java/org/janusgraph/core/schema/CompositeIndexInfo.java
  janusgraph-core/src/main/java/org/janusgraph/core/schema/JanusGraphManagement.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/database/IndexSerializer.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/database/management/ManagementSystem.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/database/util/IndexRecordUtil.java
  janusgraph-core/src/main/java/org/janusgraph/graphdb/transaction/StandardJanusGraphTx.java
Labels: kind/enhancement, area/schema
